* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #def3e5;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: auto;
  max-width: 1000px;
  background-color: #fffbe6;
}

.footer {
  height: 20px;
  background-color: #ece9d5;
  text-align: right;
  font-family: "Lekton", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #356859;
}

.search {
  /* border-bottom: 4px solid #4b7a6b; */
  border-bottom-style: groove;
  border-bottom-color: green;
  border-bottom-width: 7px;
  padding: 20px 15px 10px;
}

.search__input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border: none;
  color: rgba(68, 110, 13, 0.911);
  padding: 7px 10px;
  width: 300px;
}

.search__button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  border: none;
  padding: 7px 10px;
  color: green;
  background-color: #f1f5df;
}
